{% extends "base.html" %}
{% block title %}Log In{% endblock %}
{% block page_title %}Log In{% endblock %}
{% block content %}
    <form method="post">
        {% csrf_token %}
        {% for field in form %}
            {% include "includes/form_field.html" with field=field %}
        {% endfor %}
        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        <button type="submit" class="btn btn-primary w-100">Log in</button>
    </form>
{% endblock %}
