{% extends "base.html" %}
{% block title %}Clocks{% endblock %}
{% block page_title %}Clocks{% endblock %}
{% block content %}
    <a href="{% url 'clock:create' %}"
       class="btn btn-primary mb-3"><i class="bi bi-plus-circle"></i> Create New Clock</a>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Clock</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for clock in object_list %}
                <tr>
                    <td>{{ clock.name }}</td>
                    <td>{{ clock.description }}</td>
                    <td>
                        <a href="#" class="btn btn-primary btn-sm"><i class="bi bi-clock"></i> View</a>
                        <a href="{% url 'clock:edit' pk=clock.pk %}"
                           class="btn btn-secondary btn-sm"><i class="bi bi-pencil"></i> Edit</a>
                        <a href="#" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i> Delete</a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">No clocks available.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include "includes/pagination.html" %}
{% endblock %}
